spring:
  config:
    import: classpath:application-secrets.yml
  datasource:
    url: jdbc:postgresql://localhost:5432/uwsleeper
    username: faywu

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080